<div class="uk-width-1-1 uk-flex uk-margin-remove uk-grid-collapse main-block-area" uk-grid>

  <app-advert-component class="uk-width-1-2@m main-block-item"></app-advert-component>

  <div class="uk-width-expand@m uk-height-1-1 main-block-item uk-position-relative">
    <div class="uk-container">
      <div class="uk-flex uk-width-1-1 uk-flex-column"
           uk-scrollspy="target: > h2, div; cls:uk-animation-slide-left-medium; delay: 200; repeat: true">
        <h3 class="uk-text-center fg-grayLight uk-margin-top ">
          <i class="fa fa-feed uk-text-middle"></i>
          recent
          <span class="fg-ts">TalkTalk</span>
        </h3>

        <div class="uk-height-medium uk-padding-small" uk-margin
             uk-scrollspy="target: > article; cls:uk-animation-slide-top-medium; delay: 200; repeat: true"
        >

          <article class="uk-comment">
            <header class="uk-comment-header uk-grid-medium uk-flex-middle" uk-grid>
              <div class="uk-width-auto">
                <img class="uk-comment-avatar" src="assets/images/img_placeholder.png" width="40" height="40" alt="">
              </div>
              <div class="uk-width-expand">
                <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">Post 2</a></h4>
                <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                  <li><a href="#">12 days ago</a></li>
                </ul>
              </div>
            </header>
          </article>

          <article class="uk-comment">
            <header class="uk-comment-header uk-grid-medium uk-flex-middle" uk-grid>
              <div class="uk-width-auto">
                <img class="uk-comment-avatar" src="assets/images/img_placeholder.png" width="40" height="40" alt="">
              </div>
              <div class="uk-width-expand">
                <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">Post 2</a></h4>
                <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                  <li><a href="#">12 days ago</a></li>
                </ul>
              </div>
            </header>
          </article>

          <article class="uk-comment">
            <header class="uk-comment-header uk-grid-medium uk-flex-middle" uk-grid>
              <div class="uk-width-auto">
                <img class="uk-comment-avatar" src="assets/images/img_placeholder.png" width="40" height="40" alt="">
              </div>
              <div class="uk-width-expand">
                <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">Post 2</a></h4>
                <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                  <li><a href="#">12 days ago</a></li>
                </ul>
              </div>
            </header>
          </article>

          <article class="uk-comment">
            <header class="uk-comment-header uk-grid-medium uk-flex-middle" uk-grid>
              <div class="uk-width-auto">
                <img class="uk-comment-avatar" src="assets/images/img_placeholder.png" width="40" height="40" alt="">
              </div>
              <div class="uk-width-expand">
                <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">Post 2</a></h4>
                <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                  <li><a href="#">12 days ago</a></li>
                </ul>
              </div>
            </header>
          </article>

          <article class="uk-comment">
            <header class="uk-comment-header uk-grid-medium uk-flex-middle" uk-grid>
              <div class="uk-width-auto">
                <img class="uk-comment-avatar" src="assets/images/img_placeholder.png" width="40" height="40" alt="">
              </div>
              <div class="uk-width-expand">
                <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">Post 2</a></h4>
                <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                  <li><a href="#">12 days ago</a></li>
                </ul>
              </div>
            </header>
          </article>
        </div>
      </div>
    </div>
  </div>

  <div class="uk-width-1-4@m main-block-item uk-flex-first@m">
    <app-weather-component class="uk-width-1-1 uk-height-1-1"></app-weather-component>
  </div>

</div>


<div class="stats-area uk-width-1-1 uk-margin-remove">
  <div class="uk-child-width-1-4@m uk-height-1-1 uk-grid-small uk-flex uk-flex-center uk-margin-remove" uk-grid
       uk-scrollspy="target: > div; cls:uk-animation-slide-left-medium; delay: 200; repeat: true"
  >
    <div class="uk-height-1-1 uk-flex uk-flex-column uk-flex-middle uk-flex-center uk-padding-small"
         uk-scrollspy="target: > div; cls:uk-animation-slide-bottom-medium; delay: 400; repeat: true">
      <div class="uk-margin-remove uk-padding-remove uk-transition-toggle">
        <p class="uk-border-circle uk-margin-remove">
          <i class="stats-icon uk-border-circle bg-green fg-white fa fa-music fa-3x" style="padding: 22px 25px"></i>
        </p>
      </div>
      <div class="uk-width-1-1 uk-text-center stats-header uk-margin-remove-bottom fg-green">
        music
      </div>
      <div class="uk-text-center uk-margin-remove uk-padding-remove fg-ts">2000+</div>
    </div>

    <div class="uk-height-1-1 uk-flex uk-flex-column uk-padding-small bg-grayLighter uk-flex-middle uk-flex-center"
         uk-scrollspy="target: > div; cls:uk-animation-slide-bottom-medium; delay: 400; repeat: true">
      <div class="uk-margin-remove uk-padding-remove uk-transition-toggle">
        <p class="uk-border-circle uk-margin-remove">
          <i class="stats-icon uk-border-circle bg-ts fg-white fa fa-users fa-4x"></i>
        </p>
      </div>
      <div class="uk-width-1-1 uk-text-center stats-header uk-margin-remove-bottom fg-ts">
        members
      </div>
      <div class="uk-text-center uk-margin-remove uk-padding-remove fg-ts">2000+</div>
    </div>

    <div class="uk-height-1-1 uk-flex uk-flex-column uk-flex-middle uk-flex-center uk-padding-small"
         uk-scrollspy="target: > div; cls:uk-animation-slide-bottom-medium; delay: 400; repeat: true">
      <div class="uk-margin-remove uk-padding-remove uk-transition-toggle">
        <p class="uk-border-circle uk-margin-remove">
          <i class="stats-icon uk-border-circle bg-magenta fg-white fa fa-comments fa-4x"></i>
        </p>
      </div>
      <div class="uk-width-1-1 uk-text-center stats-header uk-margin-remove-bottom fg-magenta">
        forums
      </div>
      <div class="uk-text-center uk-margin-remove uk-padding-remove fg-ts">2000+</div>
    </div>

    <div class="uk-height-1-1 uk-flex uk-flex-column bg-grayLighter uk-flex-middle uk-flex-center uk-padding-small"
         uk-scrollspy="target: > div; cls:uk-animation-slide-bottom-medium; delay: 400; repeat: true">
      <div class="uk-margin-remove uk-padding-remove uk-transition-toggle">
        <p class="uk-border-circle uk-margin-remove">
          <i class="stats-icon uk-border-circle bg-darkViolet fg-white fa fa-video-camera fa-3x" style="padding: 22px"></i>
        </p>
      </div>
      <div class="uk-width-1-1 uk-text-center stats-header uk-margin-remove-bottom fg-darkViolet">
        videos
      </div>
      <div class="uk-text-center uk-margin-remove uk-padding-remove fg-ts">2000+</div>
    </div>
  </div>
</div>


<div class="uk-section uk-section-default bg-darkerGray uk-light join-us-section uk-background-blend-overlay uk-background-cover parallax-background"
style="background-image: url(assets/images/democracy.jpg)">
  <div class="uk-container">
    <div class="uk-flex uk-flex-center uk-flex-column"
         uk-scrollspy="target: > div, h2; cls:uk-animation-slide-bottom-medium; repeat: true">
      <h2 class="uk-text-center" style="font-size: 50px;">
        #1 social media platform in Nigeria!
      </h2>

      <div class="uk-width-small uk-margin-auto">
        <button class="uk-button uk-button-default uk-button-large bg-hover-white fg-hover-crimson">Join US!</button>
      </div>

    </div>
  </div>
</div>

<div class="uk-width-1-1 uk-grid-collapse uk-grid-match trending-area" uk-grid>
  <div class="uk-width-2-3@m uk-height-large uk-padding">
    <div class="uk-container">
      <h1 class="uk-h1 fg-grayLight uk-heading-bullet"
          uk-scrollspy="cls:uk-animation-slide-left-medium; delay: 350; repeat: true"
      >trending</h1>
    </div>
  </div>
  <div class="uk-width-1-3@m bg-magenta">

  </div>
</div>

<div class="uk-width-1-1 uk-flex uk-grid-collapse uk-grid-match" uk-grid>
  <div class="uk-width-2-3@m uk-padding bg-darkCrimson">
    <div class="uk-container uk-padding-remove-vertical">
      <h1 class="uk-h1 uk-heading-bullet uk-light"
          uk-scrollspy="cls:uk-animation-slide-left-medium; delay: 350; repeat: true"
      >recent events</h1>
    </div>
    <div class="grid uk-child-width-1-5@m uk-grid-small" uk-grid>
      <div class="grid-item uk-cover-container">
        <img src="http://lorempixel.com/300/400" alt="" uk-cover>
      </div>
      <div class="grid-item uk-cover-container">
        <img src="http://lorempixel.com/300/400/nature" alt="" uk-cover>
      </div>
      <div class="grid-item uk-cover-container">
        <img src="http://lorempixel.com/300/400/sports" alt="" uk-cover>
      </div>
      <div class="grid-item uk-cover-container">
        <img src="http://lorempixel.com/300/400/city" alt="" uk-cover>
      </div>
      <div class="grid-item uk-cover-container">
        <img src="http://lorempixel.com/300/400/people" alt="" uk-cover>
      </div>
      <div class="grid-item uk-cover-container">
        <img src="http://lorempixel.com/300/400/food" alt="" uk-cover>
      </div>
      <div class="grid-item uk-cover-container">
        <img src="http://lorempixel.com/300/400/transport" alt="" uk-cover>
      </div>
      <div class="grid-item uk-cover-container">
        <img src="http://lorempixel.com/300/400" alt="" uk-cover>
      </div>
    </div>

  </div>
  <div class="uk-width-1-3@m">
    <div class="uk-container">
      <div class="uk-width-1-1 uk-padding">
        <h1 class="uk-h1 fg-grayLight uk-heading-bullet"
            uk-scrollspy="cls:uk-animation-slide-left-medium; delay: 350; repeat: true"
        >NSE</h1>
      </div>
    </div>
  </div>
</div>
