<div class="uk-grid-match uk-grid-collapse" uk-grid>
  <div class="uk-width-1-2@m uk-margin-auto">
    <div class="uk-margin-large-top uk-flex uk-flex-center uk-flex-column" *ngIf="saving">
      <app-loader  [showLoader]="saving"></app-loader>
      <div class="uk-text-center uk-margin-small-top fg-ts uk-h4">
        Updating your account.....
      </div>
    </div>
    <div *ngIf="!saving" class="uk-flex uk-flex-column uk-padding-large uk-padding-remove-vertical">

      <div class="uk-width-1-1 uk-margin-bottom">
        <div class="uk-flex uk-flex-middle uk-grid-collapse uk-grid-match uk-margin-remove-left" uk-grid>

          <div class="uk-background-contain uk-background-center-right uk-width-auto"
               uk-scrollspy="cls:uk-animation-slide-right-small uk-animation-fade"
               style="background-image: url(assets/images/tslogo1.png); height: 70px; width: 70px;"></div>

          <div class="uk-width-expand uk-text-left uk-h4">
            <p class="uk-margin-remove uk-text-lead"
               uk-scrollspy="cls:uk-animation-slide-left-small uk-animation-fade">
              <span class="fg-ts">Hello,</span> {{user.firstName}}
            </p>
            <p class="uk-margin-remove"
               uk-scrollspy="cls:uk-animation-slide-top-small uk-animation-fade">Please tell us little about yourself...</p>
          </div>
        </div>
      </div>

      <form class="uk-flex uk-margin-top uk-flex-column uk-flex-between"
            uk-grid #f2="ngForm" (ngSubmit)="register()">
        <input type="hidden" name="id" [ngModel]="user.id">

        <div class="uk-width-1-1" uk-margin>

          <div class="uk-child-width-1-2@m" uk-grid>
            <div>
              <input class="uk-input uk-width-1-1 uk-form-medium" name="phone" type="text"
                     uk-scrollspy="cls:uk-animation-slide-top-small uk-animation-fade "
                     placeholder="Phone number" ngModel required>
            </div>

            <div title="Date of birth" uk-tooltip class="uk-position-relative uk-child-width-expand uk-flex uk-grid-collapse" uk-grid>
              <div>
                <select class="uk-select" required name="dd" [(ngModel)]="pickedDay">
                  <option value="">DAY</option>
                  <option value="{{day + 1}}" *ngFor="let day of dayRange">{{day + 1}}</option>
                </select>
              </div>

              <div>
                <select class="uk-select" required name="mm" [(ngModel)]="pickedMonth">
                  <option value="">MM</option>
                  <option value="{{month.id}}" *ngFor="let month of monthRange">{{month.name}}</option>

                </select>
              </div>

              <div>
                <select class="uk-select" required name="yy" [(ngModel)]="pickedYear">
                  <option value="">YY</option>
                  <option value="{{year}}" *ngFor="let year of yearRange">{{year}}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="uk-child-width-1-2@m" uk-grid>
            <div>
              <select class="uk-select" required name="country" (change)="onCountryChange($event)" ngModel>
                <option value="">Pick a country</option>
                <option [value]="country.id" *ngFor="let country of countries">{{country.name}}</option>
              </select>
              <app-loader [showLoader]="loadingCountries"></app-loader>
            </div>

            <div class="uk-flex uk-flex-middle">
              <div *ngIf="loadingStates" uk-spinner></div>
              <select placeholder="State" class="uk-select uk-flex-first" required name="state" ngModel>
                <option value="">Pick a state</option>
                <option [value]="state.id" *ngFor="let state of states">{{state.name}}</option>
              </select>
              <app-loader [showLoader]="loadingStates"></app-loader>
            </div>
          </div>

        </div>

        <div class="uk-child-width-1-2@m uk-margin" uk-grid>
          <div>
            <select class="uk-select" required name="gender" ngModel>
              <option value="">Gender</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select>
          </div>
        </div>


        <div class="uk-width-1-1 uk-margin-top" uk-margin>
          <button class="uk-button bg-orange bg-hover-amber fg-white uk-width-1-1 uk-button-large"
                  uk-scrollspy="cls:uk-animation-slide-top-small uk-animation-fade "
                  type="submit">Continue</button>
        </div>
      </form>
    </div>
  </div>
</div>
