<div class="uk-width-1-1">
  <div class="uk-card bg-ts uk-light uk-card-small">
    <div class="uk-card-media-top uk-cover-container" style="height: 150px;">
      <img src="assets/images/abstract-hd-wallpapers.jpg" alt="" uk-cover>
    </div>
    <div class="uk-card-body">
      <div class="uk-container" style="padding-top: 50px;">
        <div class="uk-overlay uk-light uk-position-top-center uk-padding-remove"
             style="z-index: 10; top: 90px;">
          <div class="uk-border-circle bg-white"
               uk-scrollspy="cls:uk-animation-slide-bottom-small uk-animation-fade"
               style="width: 120px; height: 120px;
        padding: 5px; border-color: #ff6600; border-width: 7px; border-style: solid">
            <app-user-avatar-component
              [imgSrc]="user ? user.metadata.profileMediaSource: null" height="100%" width="100%">
            </app-user-avatar-component>
          </div>
        </div>
        <div class="uk-width-1-1 uk-grid-match uk-child-width-1-3@m uk-flex uk-flex-stretch" uk-grid>
          <div>
            <h2 class="uk-text-center uk-margin-remove-bottom"
                uk-scrollspy="cls:uk-animation-slide-bottom-small uk-animation-fade"
            >{{ user ? user.totalFriends : 0}}</h2>
            <p class="uk-text-center uk-margin-remove-top"
               uk-scrollspy="cls:uk-animation-slide-top-small uk-animation-fade"
            >Friends</p>
          </div>
          <div>
            <h2 class="uk-text-center uk-margin-remove-bottom"
                uk-scrollspy="cls:uk-animation-slide-top-small uk-animation-fade"
            >0</h2>
            <p class="uk-text-center uk-margin-remove-top"
               uk-scrollspy="cls:uk-animation-slide-bottom-small uk-animation-fade"
            >Photos</p>
          </div>
          <div>
            <h2 class="uk-text-center uk-margin-remove-bottom"
                uk-scrollspy="cls:uk-animation-slide-top-small uk-animation-fade"
            >0</h2>
            <p class="uk-text-center uk-margin-remove-top"
               uk-scrollspy="cls:uk-animation-slide-bottom-small uk-animation-fade"
            >Posts</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
