<div class="bg-lighterGray uk-width-1-1 uk-height-small">
  <div class="uk-container uk-height-1-1">
    <div class="uk-height-1-1 uk-grid-match" uk-grid>
      <div class="uk-width-1-5@m uk-padding-remove-horizontal uk-padding-small logo-area">
        <div class="uk-cover-container uk-width-1-1 uk-height-1-1">
          <img src="assets/images/tslogo2.png" alt="talkstuff" uk-cover>
        </div>
      </div>
      <div class="uk-width-expand@m feed-area">
      </div>
    </div>
  </div>
</div>
